{% extends 'clients/base.html' %}
{% block title %}Your Appointments{% endblock %}
{% block content %}
<h2 class="my-4">Your Appointments</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.full_name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.message }}</td>
            <td>
                <a href="{% url 'client_update' client.id %}" class="btn b_
